---
import MainLayout from '@layouts/MainLayout.astro'
import StaffManager from '@/components/features/staff/StaffManager'
---

<MainLayout title="Staff Management">
  <div class="h-[calc(100vh-100px)]">
    <StaffManager client:load />
  </div>
</MainLayout>
