---
import MainLayout from '@layouts/MainLayout.astro'
import CategoryManager from '@features/admin/CategoryManager'
---

<MainLayout title="Categories">
  <div class="h-[calc(100vh-100px)]">
    <CategoryManager client:load />
  </div>
</MainLayout>
