---
import MainLayout from '@layouts/MainLayout.astro'
import StaffManager from '@features/StaffManager'
---

<MainLayout title="Staff Management">
  {
    /* Sayfada tek bir bileşen var: StaffManager.
      Tüm yüksekliği (h-full) kaplayacak.
  */
  }
  <div class="h-[calc(100vh-100px)]">
    <StaffManager client:load />
  </div>
</MainLayout>
