---
import MainLayout from '@layouts/MainLayout.astro'
import ComplaintsTable from '@features/ComplaintsTable'
---

<MainLayout title="View Complaints">
  <div class="h-[calc(100vh-100px)]">
    <ComplaintsTable client:load />
  </div>
</MainLayout>
