---
import MainLayout from '@layouts/MainLayout.astro'
import CreateRequestForm from '@features/CreateRequestForm'
---

<MainLayout title="Create New Request">
  <div class="h-[calc(100vh-100px)]">
    {/* BAŞLIK */}
    <div class="mb-8">
      <h1 class="text-3xl font-bold text-gray-800">New Maintenance Request</h1>
      <p class="mt-1 text-gray-500">Report an issue in your room or common areas.</p>
    </div>

    {/* FORM */}
    <CreateRequestForm client:load />
  </div>
</MainLayout>
