---
import MainLayout from '@layouts/MainLayout.astro'
import RequestTable from '@features/RequestTable'
---

<MainLayout title="Requests Center">
  <div class="h-[calc(100vh-100px)]">
    <RequestTable client:load />
  </div>
</MainLayout>
