---
import MainLayout from '@layouts/MainLayout.astro'
import SettingsManager from '@features/SettingsManager'
---

<MainLayout title="Settings">
  {/* SETTINGS AREA */}
  <div class="h-full pb-10">
    <SettingsManager client:load />
  </div>
</MainLayout>
