---
import Sidebar from '@components/layout/Sidebar'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} | DormiTrack</title>
  </head>

  <body class="bg-[#F8FAFC] font-sans text-slate-800">
    <div class="flex">
      <Sidebar client:load />

      <main class="h-screen flex-1 overflow-y-auto p-8">
        <slot />
      </main>
    </div>
  </body>
</html>
